extends ../layout.pug
block content
    h1 Add your title and description in box (^^)
    a(href='/') Home
    br
    a(href='/users') List Users

    form#form(action='/users/add', method='POST')
      lable Name
      br
      input#input(type='text', name='name')
      br
      button#bts Add